.btn-facebook {
  background: #4868ac;
  background-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  background-color: #b62f26;
}

.btn-twitter {
  background: #0000acee;
  background-color: #009ad5;
}

#social-buttons button {
  color: white;
}
