.logo {
  width: auto;
  height: auto;
}

.maincarousel{
  width: 200px;
  height: 200px;
}

#headerimage {
  width: 100%;
  height: 400px;
}

#aboutmeimage
{
  width: 400px;
  height: 400px;
}

body {
    background-color: white;
}

p {
    color: black;
    font-size: 12px;
    text-align: left;
}

div {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: navy;
    margin-left: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: grey;
    margin-left: 20px;
    text-align: center;
}
.pictures {
  height: : 50px;
  weight: 50px;
}

/* Contact form style */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical
}

/* submit button style */
input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* hoover color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: white;
    text-align: center;
}

.btn-facebook {
  background: #4868ac;
  background-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  background-color: #b62f26;
}

.btn-twitter {
  background: #0000acee;
  background-color: #009ad5;
}

#social-buttons button {
  color: white;
}
